@use '../variables' as *;

.about {
    background-color: $background-dark-blue;
}

.about-container {
    display: flex;
}

.about-image-container {
    flex-basis: 50%;
    img {
        width: 100%;
        object-fit: cover;
        max-height: 510px;
        max-width: 510px;
    }
}

.about-text-container {
    flex-basis: 50%;
}