@use '../variables' as *;
@use '../responsive' as *;

.contact {
    background-color: $background-primary;
    text-align: center;
    h2 {
        margin: 0 auto;
    }
    ul {
        display: flex;
        justify-content: space-between;
        margin: 0 50px;
        @include mobile {
            justify-content: center;
            flex-direction: row;
            flex-basis: 33%;
            width: 100%;
            margin: 0 auto;
            padding: 0;
            flex-wrap: wrap;
        }
    }
    li {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

.connect-container {
    display: flex;
    flex-direction: column;
    padding-bottom: calc(75px/2);
    ul {
        margin: 0 300px;
        @include mobile {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin: 0 auto;
            padding: 0;
            flex-wrap: wrap;
            li {
                flex-basis: 33%;
                width: 100%;
            }
        }
    }
}

.icebreaker-container {
    display: flex;
    flex-direction: column;
    padding-top: calc(75px/2);
    padding-bottom: 75px;
    background-color: $background-secondary;
    @include mobile {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    h3 {
        margin-top: 10px;
        padding-bottom: 32px;
    }
}