header {
    position: relative;
    h2 {
        padding: 25px 0;
    }
}

.intro-container {
    display: flex;
}

.intro-text {
    flex-basis: 50%;
    position: relative;
    top: 30vh;
}

.profile-picture {
    flex-basis: 50%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    img {
        width: 100%;
        max-width: 500px;
        height: auto;
        position: absolute;
        bottom: 0;
    }
}

