@use '../variables' as *;
@use '../responsive' as *;

//nav
nav {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize; 
    ul {
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;
        a {
            color: $text-color;
            text-decoration: none;
            &:visited {
                color: $text-color;
            }
            &:hover, &:focus {
                color: $text-hover;
            }
        }
        li {
            padding: 0 20px;
        }
    }
}

.desktop-menu {
    @include mobile {
        display: none;
    }
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    right: 0;
    padding-right: 25px;
    ul {
        margin: 0;
        padding-top: 0.75em;
        flex-direction: column;
        align-items: flex-end;
        li {
            padding: 0.75em 0;
        }
        a {
            font-size: 2.5em;
        }
    }
    .mobile-menu {
        display: none;
        @include mobile {
        &.open {
            display: flex;
            }
        }
    }
    .fa-bars {
        padding-top: 30px;
        display: none;
        font-size: 2.5rem;
        @include mobile {
            display: flex;
        }
    }
}

.hamburger-icon {
    position: relative;
    height: 75px;
    width: 75px;
    top: 25px;
    span {
        display: block;
        position: absolute;
        height: 10px;
        width: 100%;
        background-color: $text-color;
        border-radius: 9px;
    }
    .line-one {
        top: 25px;
        &.hamburger-animate {
        transform-origin: top left;
        transform: rotate(45deg);
        translate: 20px;
        }
    }
    .line-two {
        top: 50px;
        &.hamburger-animate {
            right: -100px;
        }
    } 
    .line-three {
        top: 75px;
        &.hamburger-animate {
        transform-origin: bottom left;
        transform: rotate(-45deg);
        translate: 20px;
        }
    }
}

