@use '../variables' as *;
@use '../responsive' as *;

//nav
nav {
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize; 
    ul {
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        justify-content: flex-end;
        a {
            color: $text-color;
            text-decoration: none;
            &:visited {
                color: $text-color;
            }
            &:hover, &:focus {
                color: $text-hover;
            }
        }
        li {
            padding: 0 20px;
        }
    }
}

.desktop-menu {
    @include mobile {
        display: none;
    }
}

.mobile-menu-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    ul {
        margin: 0;
        padding-top: 0.75em;
    }
}

.mobile-menu {
    display: none;
    @include mobile {
    &.open {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
            li {
                padding: 0.75em 0;
            }
            a {
                font-size: 1.5em;
            }
        }
    }
}


.fa-bars {
    padding-top: 30px;
    display: none;
    font-size: 2.5rem;
    @include mobile {
        display: flex;
    }
}