
//fonts
$text-color: #fff;
$text-color-dark: #333333;
$text-color-orange: #f0bb62;
$text-hover: #f0bb62;

//backgrounds
$background-dark-blue: #1d293e;
$background-dark-green: #052e40;
$background-grey: #ebf4fa;

//buttons
$button-color: #f0bb62;